.Chanel_logo_App{
  width: 2.2rem;  
  height: 2.2rem;
  margin: auto;
  border-radius: 100%;
  background-color: rgb(224,227,214);
  display: flex;
}
.fstChar_logo_App{
  margin: auto;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}







.container_page_App{
  display: flex;
  background-color: rgb(36, 34, 34);
  width: 100%;

}
.container2_page_App{
  width: calc(100vw - 5rem);
  height: calc(100vh - 3.65rem);
  border-top: 2px solid rgb(128,128,128,0.45);
  overflow-y: auto;
  
}
.video_box_App{
  width: 21rem;
  height: 17rem;
  margin-bottom: 1rem;
  border: 2px solid transparent blue;


}
video {
  background-color: rgba(62, 60, 60, 0.662);
}