.container_vediopage{
    height: calc(100vh - 3.4rem);
    overflow-y: auto;
    background-color: rgb(11, 11, 11);
    color: white;
}
.container2_vediopage{
    margin: 1.5rem 4.5rem;
    display: flex;

}
.vedio_disply_screen_vediopage{
    width: calc(100vw - 4.5rem - 35vw);
    padding: 0.1rem;

}
.vedio_showvedio_vediopage{
    padding: 0.1rem;
    height: 100%;
    background-color: black;
    border: 1px solid rgba(37,37,37,0.2);
    width: 100%;
}
.vedio_btns_title_vediopage{
    border-bottom: 3px solid rgba(245,222,179,0.175);
    flex-grow: 1;
}
.vedio_title_vediopage{
    font-size: x-large;
    margin: 1;
    padding: 1rem 0.8rem;
}
.views_date_btns_vediopage{
    display: flex;
    margin: 0.5rem 1rem;
    width: calc(100vw - 6.5rem - 35vw );
}
.views_vediopage{
    display: flex;
    font-size: 0.8rem;
    flex-wrap: 1;
    align-items: center;
}
.chanel_details_vediopage{
    border-bottom: 3px solid rgba(245,222,179,0.175);
    display: flex;
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;

}
.chanel_logo_vediopage{
    display: flex;
    border: 1px solid rgba(0, 0,0, 0.19);
    width: 4rem;
    height: 4rem;
    margin: 0.4rem;
    background-color: rgba(255,255,255,0.667);
    border-radius: 100%;
}
.chanel_logo_vediopage p{
    color: black;
    margin: auto;
    font-size: xx-large;

}
.chanel_name_vediopage{
    font-weight: bolder;
    margin: auto 1rem;
    font-size: larger;
}
.comments_vediopage{
    width: 100%;
    padding-inline-start: 0.5rem;

}
.morevediobar{
    width: calc(100vw - 4.5rem - 35vw);
    padding: 0 1rem;
}