.container_leftsidebar{
    background-color: rgb(25,25,25);
    width: 4.7rem;
    height: calc(100vh - 3.3rem);
    box-sizing: border-box;
    overflow-y: auto;


}
.icon_sidebar_div{
    cursor: pointer;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;


}
.icon_sidebar{
    margin: auto;
}
.text_sidebar_icon{
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    padding-inline-start: 0.2rem;



}
.icon_sidebar_div:hover,
.icon_sidebar_div:active{
    color: aliceblue;
    background-color: rgb(68,68,68);
}